body{
    margin: 0 !important;
    padding: 0 !important;
}

ul{
    padding: 0;
    margin: 0;
}


ul#primary-menu li a{
    padding: 25px 20px;
    color:#27b2cf;
}
h1.entry-title.homepageT,p.site-title {
    display: none;
}
.main-navigation{
    clear: none;
    width: auto;
    float: none;
    margin-left: auto;
}
.site-branding{
    float: left;
}
.semicircle-btm{
    padding-bottom: 6.94%;
    background: url(../images/slideBorder.png) center bottom/cover no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
header.site-header{
    position: relative;
}
.headersidebar{
    background: #27b2cf;
    padding-top: 10px;
    padding-bottom: 10px;
}
.headersidebar p{
    padding: 0;
    margin: 0;
    color: #fff;
}
.headersidebar .widget{
    margin: 0;
    width: 100%;
}
.center-col-f{
     align-items: center;
     justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}
.c-center{
    display: table;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.ft-center{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fl-button-wrap{
    position: relative;
}
.count-start .fl-button:after, .count-mid .fl-button:after,.count-end .fl-button:after{
    content: '';
    position: absolute;
    height: 2px;
    background: #27b2cf;
    right: -20px;
    left: 50%;
    z-index: -1;
    top: 50%;
}
.count-mid .fl-button:after{
   left: -20px;
}

.count-end .fl-button:after{
    right: 50%;
    left: -20px;
}
footer.entry-footer{
    display: none;
}
#footer-sidebar.footer, .footer-container, .headersidebar,.hs-container, .site-header, .menu-contianer{
    display: flex;
}
#footer-sidebar.footer {
    flex-direction: row;
    justify-content: center;
    background: #2e485f;
}
 .headersidebar, .site-header{
     flex-direction: row;
     justify-content: center;
 }
.hs-col {
    display: flex;
    width: 50%;
}
#hs-2.hs-col{
    text-align: right;
}
h3.widget-title{color: #6c7f8e;}
.footer-col a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 0.83333rem;
}
.footer-container,.hs-container, .menu-contianer{
    max-width: 1100px;
    width: 100%;
}
.footer-col{
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
}
article.post, article.page{
    margin: 0;
}

@media screen and (min-width: 992px){
    ul#primary-menu{
        display: block;

    }
    ul#primary-menu li{
        display: inline-block;

    }
}
@media screen and (max-width: 991px){
    button.menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
}
@media screen and (max-width: 767px){
    .count-start .fl-button:after, .count-mid .fl-button:after,.count-end .fl-button:after{
        display: none;
    }
}